## /v1/voice/token

> Download [voice_token_request_example_body.json](examples/api_v1/voice_token_request_example_body.json) and use:

```shell
python2 curl_hmac.py test secret POST /v1/voice/token \
    -f 'voice_token_request_example_body.json' -r
```

> Alternatively:

```shell
curl https://api.aimbrain.com:443/v1/voice/token \
    -H 'Content-Type: application/json' \
    -H 'X-aimbrain-apikey: test' \
    -H 'X-aimbrain-signature: isMJ65cfk0B4nJEx3YKroxrkTIkxlE0r/FJhyUVmgEQ=' \
    --data @voice_token_request_example_body.json
```

> Example response:

```shell
{
    "token":"Hello, my password is 6-6-7, verify me"
}
```

This endpoint a token to be displayed during voice recording.

<aside class="notice">
Voice token will automatically expire after 5 minutes.
</aside>

### HTTP Request
`POST /v1/voice/token`

### Body

Parameter | Description
-------------------------------|--------------------------------------
`session`<br><span class="label notice">required</span>|**string**<br>Current Session ID as returned by [/v1/sessions](#v1-sessions) request.
`tokentype`<br><span class="label notice">required</span> | **string**<br>The type of token to be returned.

### HTTP Response
Status code: `200 OK`

Parameter | Description
------------------------------|--------------------------------------
`token`|**string**<br>The token to be displayed during voice recording.

### `tokentype` parameter values:

<%= partial "includes/api_v1/tokentype_values" %>

### Errors

Please see [#errors](#errors) for description of errors and formatting.
